/* .glass {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.0px );
  -webkit-backdrop-filter: blur( 11.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
} */

/* .background-blue-grey {
  background-color: #ECEFF1;
} */

.v-card__actions > .v-btn.v-btn {
  border-radius: 10px;
}

.v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 15px;
}

.v-btn--fab.v-size--default.v-btn--absolute.v-btn--top.top-fab-btn {
  top: 5px;
}

.v-btn--is-elevated.v-btn--fab.new-post-btn {
  box-shadow: 0px 5px 5px 3px #afafaf, 0px 0px 0px 10px #eceff1;
}

.v-btn--fab.v-size--default.v-btn--absolute.v-btn--top.new-post-btn {
  top: -20px;
}

.btm-nav {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
